= "We need to improve the searching algorithm, since we wont be using heroku anymore, I believe we can benefit from using Thinking Sphinx, or Apache's SOLR."
%br/
= link_to "Index Database (this will take alot of time....)", populate_data_home_index_path
%br/
%br/
- RssFeedKeyword.pluck(:name).each do |name|
  = name
  - RssFeedDatum.search(name).each do |data|
    = truncate(data.blurb, length: 500)
    %br/
    %br/
  

- @hash.each_pair do |k,val|
  %h2=k
  - val.each do |v|
    %p=v